# Основные библиотеки
requests         # Для работы с HTTP-запросами
beautifulsoup4   # Для парсинга HTML-страниц
#numpy            # Для научных вычислений
#pandas           # Для обработки данных
flask            # Минималистичный веб-фреймворк (если используется)
flask-wtf        # Для работы с формами в Flask (если используется)
wtforms          # Для работы с формами в Flask (если используется)
qrcode           # Для создания QR-кодов

# Зависимости для API или асинхронности
#fastapi        # Асинхронный веб-фреймворк (если используется)
#uvicorn          # Сервер для запуска FastAPI (если используется)

# Зависимости для баз данных
sqlalchemy        # Работа с SQL-базами данных
psycopg2-binary   # PostgreSQL драйвер (если используется)

# Зависимости для работы с файлами
openpyxl        # Работа с Excel-файлами
PyYAML            # Работа с YAML-файлами

# Обеспечение безопасности
python-dotenv    # Загрузка переменных окружения из .env файла
bcrypt           # Хеширование паролей